.loading{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid var(--Green);
  border-top-color: transparent;
  animation: loading 0.7s linear infinite;
}

@keyframes loading{
  to{
    transform: rotate(360deg);
  }
}